# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
venv/
.venv/
env/
ENV/

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Project Specific
output/
trivy-cache/
tests/artifacts/secret.txt
tests/artifacts/*.bin
tests/artifacts/*.exe
